<h2>Employee Details :</h2>
<br />
<div>
  <div>
    <label for=""><b>Employee ID : </b></label
    > {{ employee.empId }}
  </div>
  <div>
    <label for=""><b>Employee Name : </b></label
    > {{ employee.empName }}
  </div>
  <div>
    <label for=""><b>Employee Address : </b></label
    > {{ employee.address }}
  </div>
  <div>
    <label for=""><b>Employee Contact Number : </b></label
    > {{ employee.contactNumber }}
  </div>
  <div>
    <label for=""><b>Employee Salary : </b></label
    > {{ employee.empSalary }}
  </div>
</div>
